<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<form class="decor" method="POST" action="">
    <div class="form-left-decoration"></div>
    <div class="form-right-decoration"></div>
    <div class="circle"></div>
    <div class="form-inner">
    <h3>Get vk statistics</h3>
    <input type="text" placeholder="Your name" name="user_name">
    <input type="email" placeholder="Email. Example: my_email@gmail.com" name="email">
    <input type="text" placeholder="VK link. Example: https://vk.com/konstantinov_daniil or 58505771" name="link">
    <h5>Type of vk downloading</h5>
    <p><select name="option_download">
        <option selected value="fast">fast</option>
        <option value="slow">slow</option>
        </select>
    </p>
    <input type="submit" value="Go">
    </div>
    </form>