<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<form class="decor" method="POST" action="">
    <div class="form-left-decoration"></div>
    <div class="form-right-decoration"></div>
    <div class="circle"></div>
    <div class="form-inner">
    <h3>Form for vk statistics</h3>
    <input type="text" placeholder="Your name" name="user_name">
    <input type="email" placeholder="Email. Example: bb@gmail.com" name="email">
    <input type="text" placeholder="Social link. Example: 58505771" name="link">
    <input type="submit" value="Go">
    </div>
    </form>