<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  

    <title>vk statistics</title>
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='form-validation.css') }}" rel="stylesheet">  
    <!--<link href="form-validation.css" rel="stylesheet"> -->
    
  </head>
  <body>

  
        <h3>Hello! It's a service for collecting some statistics from vk.com</h3>
        <h4>Main service: <a href="/vk_statistics"> go </a></h4>
        <p>Remark. If your account is closed you can not use this service!</p>
        <br>
        <br>
        <p>You can find this code here: <a href="https://github.com/CI314X/social-network-analyzer"> github.com </a> </p> 
        <h4>Author contacts:</h4>
        <p>Email: dkonstantinov0@gmail.com</p>
        <p>Telegram: <a href="https://telegram.me/CI314X"> @CI314X</a></p>
        


    


  </body>
</html>